flows.json
[{"id":"0102ef3a5e2d0b80","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"e0cb796ea9427a1b","type":"group","z":"0102ef3a5e2d0b80","name":"Chưa đăng kí","style":{"fill":"#ffC000","label":true},"nodes":["ff39e877edcd3815","af9c294633c437ed","9064f46bd4f62e9d","8d27aca33dbccc42","4488a51ccf06b8ca","f17f983a3ce1e6cc","d7ace6fbbec79b9a","3d078241aa5cce96","c03a37cbb0646208","fd14d5359f3dec0f","7ff3c1136975f81c","96e71bd19ce85ee7","c7a6e3b24be64cde","bbbc7a06eaa6ad10","2066aa55970c8106","9af5c8297cba9a10","01076c13ed6e8ca7","2249df88f25c7837","6560bd6ab96dc342","4699c8f7941dc1c6","e0c7b2322d2570b1","6b96afc1dfede635","973bd1739af084ce","53763511fc144e31","fa59e7eb9174807f","aa6e44bc878f39db","3b8ecc04604307d1","260df5bc51bf776f","d6c3edd5f9dd34af"],"x":94,"y":-1,"w":1172,"h":562},{"id":"9451318c6d2f95b6","type":"group","z":"0102ef3a5e2d0b80","name":"SINH vien đã đăng kí","style":{"fill":"#ffff3f","label":true},"nodes":["a08f561428aa8ec3","b793917942f71af8","aff5ca46ba764d3e","6d79b3ec70810a12","d851f5cb7e1f7226","842541d803cb758b","mqtt_in_result","handle_login_result","notify_success","notify_fail","566cb83d63cb1aa2","9781a4bc3540d3cf","8244ca1478a3bf81","5d2b2ef1ac98b964","ec01bfb4aba30f8a","59f9e958373e0f97","e93d18b3449690a3","f1a1df28f6b1c2bd","1a9b56a5406f1d3a","e5c0bad3a6aa56ee","995de41e46bf53c0","a5eaa5cb3ac7c67b","6ca3e69b7b5a173f","5565ae2028e861c1","b57e5efed243d62b","e1d5dc5826d99e93","722549bde1a36cd1","525bc9540d11805f","0556f9b88f7484ae"],"x":174,"y":559,"w":1072,"h":762},{"id":"a1f028b2667a401b","type":"group","z":"0102ef3a5e2d0b80","name":"ADMiN đã đăng kí","style":{"fill":"#ff7f7f","label":true,"color":"#000000"},"nodes":["d2bd2b35fcdf503a","50e5266408a28898","be30d63ec42e195e","43a93e27c2bf14a5","395690aa794f5bd6","a5518405456461ef","f24de410c79d5d0a","4f2ee882cf9cbab3","2d7823eed9aed7f6","da810c362c7e90cd","1bcb98a0f858e603","2e0696bfc4ac3e5e","6188be591688a12b","f22c8b5d65db8efc","0ea8a3deb20b6326","9ac3281e9acefc33","db6580a6968a2726","d5c68c41945e0370","977e66cab3ba80e0","2219180904c2addc","b3a4cdf2b558ec81","43cefc94737d71d4","b251841187244210","ed0e897d441cdb4f","d209fc5d0802cf26","a06f42867b69e7e9","b39dcb3838c260ba","6d82f1bce23c3f75"],"x":1354,"y":559,"w":1072,"h":782},{"id":"54975aa76729e19d","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"52c17a7636c487aa","order":1,"width":0,"height":0,"passthru":false,"label":"Sinh viên chưa đăng ký","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Chưa đăng ký\"}","payloadType":"json","topic":"","topicType":"str","x":1450,"y":40,"wires":[["ee2daf0403a325bc"]]},{"id":"ee2daf0403a325bc","type":"ui_ui_control","z":"0102ef3a5e2d0b80","name":"","events":"all","x":1700,"y":160,"wires":[[]]},{"id":"400520169372a455","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"52c17a7636c487aa","order":3,"width":0,"height":0,"passthru":false,"label":"Bảo mật","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Quản trị viên\"}","payloadType":"json","topic":"","topicType":"str","x":1420,"y":80,"wires":[["ee2daf0403a325bc"]]},{"id":"af9c294633c437ed","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Nhập số đèn","label":"         Số đèn (1–70)","tooltip":"Nhập đèn cần bật ( 1 giờ - 1 đèn)","group":"6b2b732a6c91e261","order":1,"width":6,"height":2,"passthru":true,"mode":"number","delay":0,"topic":"input","sendOnBlur":true,"className":"","topicType":"str","x":190,"y":60,"wires":[["9064f46bd4f62e9d"]]},{"id":"9064f46bd4f62e9d","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":400,"y":60,"wires":[[]]},{"id":"8d27aca33dbccc42","type":"ui_button","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Gửi MQTT","group":"6b2b732a6c91e261","order":2,"width":6,"height":1,"passthru":false,"label":"Bật đèn","tooltip":"","color":"","bgcolor":"green","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":120,"wires":[["4488a51ccf06b8ca"]]},{"id":"4488a51ccf06b8ca","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Tạo JSON","func":"let device = flow.get(\"device_num\") || 1;\nlet hour = flow.get(\"hour_val\") || 1;\n\nmsg.payload = {\n    device: device,\n    Hour: hour\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":120,"wires":[["f17f983a3ce1e6cc","d7ace6fbbec79b9a","2249df88f25c7837","260df5bc51bf776f"]]},{"id":"f17f983a3ce1e6cc","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"set","topic":"APP_ON21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":570,"y":120,"wires":[]},{"id":"d7ace6fbbec79b9a","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":630,"y":60,"wires":[["3d078241aa5cce96","9af5c8297cba9a10"]]},{"id":"3d078241aa5cce96","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":850,"y":40,"wires":[["c03a37cbb0646208"]]},{"id":"c03a37cbb0646208","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":910,"y":120,"wires":[["9af5c8297cba9a10"]]},{"id":"fd14d5359f3dec0f","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Nhập số đèn","label":"         Số đèn (1–70)","tooltip":"Nhập đèn cần tắt","group":"6b2b732a6c91e261","order":3,"width":6,"height":2,"passthru":true,"mode":"number","delay":0,"topic":"input","sendOnBlur":true,"className":"","topicType":"str","x":190,"y":320,"wires":[["7ff3c1136975f81c"]]},{"id":"7ff3c1136975f81c","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":400,"y":320,"wires":[[]]},{"id":"96e71bd19ce85ee7","type":"ui_button","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Gửi MQTT","group":"6b2b732a6c91e261","order":4,"width":6,"height":1,"passthru":false,"label":"Tắt đèn","tooltip":"","color":"","bgcolor":"red","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":380,"wires":[["c7a6e3b24be64cde"]]},{"id":"c7a6e3b24be64cde","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Tạo JSON","func":"let device = flow.get(\"device_num\") || 1;\n\n\nmsg.payload = {\n    device: device,\n    trigger: true\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":380,"wires":[["bbbc7a06eaa6ad10","2066aa55970c8106","2249df88f25c7837","d6c3edd5f9dd34af"]]},{"id":"bbbc7a06eaa6ad10","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"OFF_GUEST","topic":"APP_OFF21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":600,"y":380,"wires":[]},{"id":"2066aa55970c8106","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":630,"y":300,"wires":[["9af5c8297cba9a10","01076c13ed6e8ca7"]]},{"id":"9af5c8297cba9a10","type":"ui_template","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"6b2b732a6c91e261","name":"Thông báo & Chuyển trang","order":5,"width":6,"height":1,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"success-msg\" style=\"display:none;\">✅ Chuyển trang sau...</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('success-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 3000);\n        } else {\n            document.getElementById('success-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":940,"y":260,"wires":[[]]},{"id":"01076c13ed6e8ca7","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":810,"y":340,"wires":[["ff39e877edcd3815"]]},{"id":"ff39e877edcd3815","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":810,"y":420,"wires":[["9af5c8297cba9a10"]]},{"id":"2249df88f25c7837","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"Điều khiển thành công","name":"Thông báo thành công","x":520,"y":220,"wires":[]},{"id":"a08f561428aa8ec3","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"username","label":"Tài khoản","tooltip":"","group":"f08cb50a5c0eb83d","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"username","sendOnBlur":true,"className":"","topicType":"str","x":280,"y":600,"wires":[["6d79b3ec70810a12"]]},{"id":"b793917942f71af8","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"password","label":"Mật khẩu","tooltip":"","group":"f08cb50a5c0eb83d","order":2,"width":6,"height":1,"passthru":true,"mode":"password","delay":"0","topic":"password","sendOnBlur":true,"className":"","topicType":"str","x":280,"y":650,"wires":[["6d79b3ec70810a12"]]},{"id":"aff5ca46ba764d3e","type":"ui_button","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"login","group":"f08cb50a5c0eb83d","order":3,"width":6,"height":1,"passthru":false,"label":"Đăng nhập","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":290,"y":720,"wires":[["d851f5cb7e1f7226"]]},{"id":"6d79b3ec70810a12","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lưu user/pass","func":"flow.set(msg.topic, msg.payload);\nreturn null;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":630,"wires":[]},{"id":"d851f5cb7e1f7226","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Gửi MQTT user_login","func":"var username = flow.get(\"username\") || \"\";\nvar password = flow.get(\"password\") || \"\";\n\nreturn {\n    topic: \"user_login\",\n    payload: {\n        username: username,\n        password: password\n    }\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":700,"wires":[["842541d803cb758b"]]},{"id":"842541d803cb758b","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Đăng nhập MQTT","topic":"USER_LOGIN21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":790,"y":700,"wires":[]},{"id":"mqtt_in_result","type":"mqtt in","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"MQTT Nhận kết quả","topic":"LOGIN_RESULT21146282","qos":"0","datatype":"json","broker":"37fcf5bfccf8b220","nl":false,"rap":false,"inputs":0,"x":290,"y":880,"wires":[["handle_login_result","ec01bfb4aba30f8a","0556f9b88f7484ae"]]},{"id":"handle_login_result","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xử lý kết quả","func":"if (msg.payload.result === true) {\n    msg.payload = \"Đăng nhập thành công\";\n    \n    return [msg, null];\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":880,"wires":[["notify_success"],["notify_fail"]]},{"id":"notify_success","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thành công","x":730,"y":800,"wires":[]},{"id":"notify_fail","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thất bại","x":720,"y":920,"wires":[]},{"id":"566cb83d63cb1aa2","type":"delay","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":850,"y":1020,"wires":[["8244ca1478a3bf81"]]},{"id":"9781a4bc3540d3cf","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":650,"y":1000,"wires":[["566cb83d63cb1aa2","5d2b2ef1ac98b964"]]},{"id":"8244ca1478a3bf81","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":970,"y":960,"wires":[["5d2b2ef1ac98b964"]]},{"id":"5d2b2ef1ac98b964","type":"ui_template","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"f08cb50a5c0eb83d","name":"Thông báo & Chuyển trang","order":4,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Login-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Login-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://render-node-red-uno2.onrender.com/ui/\";\n            }, 2000);\n        } else {\n            document.getElementById('Login-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":1100,"y":1040,"wires":[[]]},{"id":"ec01bfb4aba30f8a","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"function 1","func":"if (msg.payload.result === true) {\n    msg.payload = \"Tắt đèn thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":980,"wires":[["9781a4bc3540d3cf","59f9e958373e0f97","1a9b56a5406f1d3a"]]},{"id":"59f9e958373e0f97","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"reset","func":"let resetUsername = \"\"; // hoặc: { payload: \"\" }\nlet resetPassword = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"username\", \"\");\nflow.set(\"password\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetUsername }, { payload: resetPassword }]];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1040,"wires":[["a08f561428aa8ec3","b793917942f71af8"]]},{"id":"e93d18b3449690a3","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"MQTT Gửi token","topic":"token/check21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":1090,"y":1100,"wires":[]},{"id":"f1a1df28f6b1c2bd","type":"inject","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Tạo token","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":660,"y":1100,"wires":[["1a9b56a5406f1d3a"]]},{"id":"1a9b56a5406f1d3a","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Tạo token và link","func":"const token = Math.random().toString(36).substring(2, 12);\nconst msgOut = {\n    payload: JSON.stringify({ token: token })\n};\n\n// Gửi token này tới Node-RED Điều khiển\nmsgOut.topic = \"token/check21146282\";\n\nreturn msgOut;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1100,"wires":[["e93d18b3449690a3"]]},{"id":"d2bd2b35fcdf503a","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Email","label":"Email","tooltip":"","group":"7382439799ec2cdd","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"email","sendOnBlur":true,"className":"","topicType":"str","x":1450,"y":600,"wires":[["43a93e27c2bf14a5"]]},{"id":"50e5266408a28898","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"password","label":"Mật khẩu","tooltip":"","group":"7382439799ec2cdd","order":2,"width":6,"height":1,"passthru":true,"mode":"password","delay":"0","topic":"password","sendOnBlur":true,"className":"","topicType":"str","x":1460,"y":650,"wires":[["43a93e27c2bf14a5"]]},{"id":"be30d63ec42e195e","type":"ui_button","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"login","group":"7382439799ec2cdd","order":3,"width":6,"height":1,"passthru":false,"label":"Đăng nhập","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":1470,"y":720,"wires":[["395690aa794f5bd6"]]},{"id":"43a93e27c2bf14a5","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Lưu user/pass","func":"flow.set(msg.topic, msg.payload);\nreturn null;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1700,"y":630,"wires":[]},{"id":"395690aa794f5bd6","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Gửi MQTT user_login","func":"var email = flow.get(\"email\") || \"\";\nvar password = flow.get(\"password\") || \"\";\n\nreturn {\n    topic: \"user_login\",\n    payload: {\n        email: email,\n        password: password\n    }\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":700,"wires":[["a5518405456461ef"]]},{"id":"a5518405456461ef","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Đăng nhập MQTT","topic":"ADMIN_LOGIN21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":1930,"y":700,"wires":[]},{"id":"f24de410c79d5d0a","type":"mqtt in","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"MQTT Nhận kết quả","topic":"ADMIN_RESULT21146282","qos":"0","datatype":"json","broker":"37fcf5bfccf8b220","nl":false,"rap":false,"inputs":0,"x":1470,"y":880,"wires":[["4f2ee882cf9cbab3","0ea8a3deb20b6326"]]},{"id":"4f2ee882cf9cbab3","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Xử lý kết quả","func":"if (msg.payload.result3 === true) {\n    msg.payload = \"Đăng nhập thành công\";\n    \n    return [msg, null];\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":880,"wires":[["2d7823eed9aed7f6"],["da810c362c7e90cd"]]},{"id":"2d7823eed9aed7f6","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thành công","x":1910,"y":800,"wires":[]},{"id":"da810c362c7e90cd","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":true,"className":"","topic":"","name":"Thông báo thất bại","x":1900,"y":920,"wires":[]},{"id":"1bcb98a0f858e603","type":"delay","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":1970,"y":1020,"wires":[["6188be591688a12b"]]},{"id":"2e0696bfc4ac3e5e","type":"change","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":1810,"y":1000,"wires":[["1bcb98a0f858e603","f22c8b5d65db8efc"]]},{"id":"6188be591688a12b","type":"change","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":2170,"y":920,"wires":[["f22c8b5d65db8efc"]]},{"id":"f22c8b5d65db8efc","type":"ui_template","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","group":"7382439799ec2cdd","name":"Thông báo & Chuyển trang","order":4,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Login-msg\" style=\"display:none;\">✅ Đang chuyển trang...! </p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Login-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://node-red-admin.onrender.com/ui/\";\n            }, 3000);\n        } else {\n            document.getElementById('Login-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":2220,"y":1000,"wires":[[]]},{"id":"0ea8a3deb20b6326","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"function 2","func":"if (msg.payload.result3 === true) {\n    msg.payload = \"Tắt đèn thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":980,"wires":[["2e0696bfc4ac3e5e","9ac3281e9acefc33","977e66cab3ba80e0"]]},{"id":"9ac3281e9acefc33","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"reset","func":"let resetEmail = \"\"; // hoặc: { payload: \"\" }\nlet resetPassword = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"email\", \"\");\nflow.set(\"password\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetEmail }, { payload: resetPassword }]];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1040,"wires":[["d2bd2b35fcdf503a","50e5266408a28898"]]},{"id":"db6580a6968a2726","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"MQTT Gửi token","topic":"admin/check21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":2290,"y":1120,"wires":[]},{"id":"d5c68c41945e0370","type":"inject","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Tạo token","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1840,"y":1100,"wires":[["977e66cab3ba80e0"]]},{"id":"977e66cab3ba80e0","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Tạo token và link","func":"const token = Math.random().toString(36).substring(2, 12);\nconst msgOut = {\n    payload: JSON.stringify({ token: token })\n};\n\n// Gửi token này tới Node-RED Điều khiển\n\n\nreturn msgOut;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2050,"y":1120,"wires":[["db6580a6968a2726"]]},{"id":"18826231df1340ce","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"52c17a7636c487aa","order":2,"width":0,"height":0,"passthru":false,"label":"Sinh viên đã đăng ký","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Đã đăng ký\"}","payloadType":"json","topic":"","topicType":"str","x":1420,"y":140,"wires":[["ee2daf0403a325bc"]]},{"id":"c1f2b08988e0e9c7","type":"inject","z":"0102ef3a5e2d0b80","name":"Lặp mỗi giây","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":1500,"y":340,"wires":[["71e2085d73dddf3e"]]},{"id":"71e2085d73dddf3e","type":"function","z":"0102ef3a5e2d0b80","name":"Lấy giờ Việt Nam","func":"let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":340,"wires":[["e9b4d6cd28ed2cb2"]]},{"id":"e9b4d6cd28ed2cb2","type":"ui_text","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","order":4,"width":6,"height":1,"name":"Hiển thị thời gian","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1890,"y":340,"wires":[]},{"id":"c86b6d1047608825","type":"ui_button","z":"0102ef3a5e2d0b80","name":"Gửi MQTT","group":"bc890b17fb36f5ca","order":1,"width":3,"height":1,"passthru":false,"label":"Thoát","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":1490,"y":420,"wires":[["566f810b64bcfc54"]]},{"id":"566f810b64bcfc54","type":"change","z":"0102ef3a5e2d0b80","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":1690,"y":420,"wires":[["5d6fa13540bb51b0","1c5c66c4f01e2b0f"]]},{"id":"70e2dabe805d7f56","type":"change","z":"0102ef3a5e2d0b80","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":1860,"y":500,"wires":[["1c5c66c4f01e2b0f"]]},{"id":"5d6fa13540bb51b0","type":"delay","z":"0102ef3a5e2d0b80","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":1930,"y":420,"wires":[["70e2dabe805d7f56"]]},{"id":"inject_temp","type":"inject","z":"0102ef3a5e2d0b80","name":"Giả lập nhiệt độ","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payloadType":"date","x":2110,"y":200,"wires":[["fake_temp"]]},{"id":"fake_temp","type":"function","z":"0102ef3a5e2d0b80","name":"Nhiệt độ ngẫu nhiên","func":"let month = new Date().getMonth() + 1; // Tháng 1–12 \n\nlet baseTemp;\nswitch (month) {\n    case 1: case 2: case 12:\n        baseTemp = 27; // mùa \"mát\"\n        break;\n    case 3: case 4: case 5:\n        baseTemp = 29; // mùa nắng đỉnh điểm\n        break;\n    case 6: case 7: case 8: case 9: case 10: case 11:\n        baseTemp = 28; // mùa mưa\n        break;\n    default:\n        baseTemp = 28;\n}\n\nlet temp = (Math.random() * 1.5 + baseTemp).toFixed(1);\n\nmsg.payload = `🌡️ Nhiệt độ: ${temp} °C – 🏙️ TP.HCM`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":200,"wires":[["ui_temp"]]},{"id":"1a6c404d8fcd4b3e","type":"ui_template","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","name":"Title MakerSpace","order":6,"width":0,"height":0,"format":"<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  MakerSpace\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1890,"y":180,"wires":[[]]},{"id":"f0a1a1e1abcd1234","type":"ui_template","z":"0102ef3a5e2d0b80","group":"52c17a7636c487aa","name":"Địa chỉ trường trang trí đẹp","order":4,"width":6,"height":2,"format":"<div\n    style=\"padding: 12px; background-color: #f5f5f5; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); font-family: 'Segoe UI', sans-serif;\">\n    <div style=\"font-size: 16px; color: #333;\"><strong>Địa chỉ:</strong></div>\n    <div style=\"font-size: 18px; color: #2c3e50; font-weight: 600; margin-top: 4px;\">\n        1 Võ Văn Ngân, Phường Thủ Đức, TP.Hồ CHí Minh\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2300,"y":100,"wires":[[]]},{"id":"a1649895374530e8","type":"ui_template","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","name":"Tên trường","order":5,"width":6,"height":2,"format":"<div\n    style=\"padding: 12px; background-color: #e3f2fd; border-radius: 8px; font-family: 'Segoe UI', sans-serif; color: #0d47a1; font-size: 20px; font-weight: bold; text-align: center;\">\n    🎓 Trường Đại Học Sư Phạm Kỹ Thuật TP.HCM\n</div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2710,"y":100,"wires":[[]]},{"id":"ui_temp","type":"ui_text","z":"0102ef3a5e2d0b80","group":"bc890b17fb36f5ca","order":3,"width":6,"height":1,"name":"Nhiệt độ hiện tại","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":2580,"y":200,"wires":[]},{"id":"53763511fc144e31","type":"ui_template","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"918d35a5629175cc","name":"Title MakerSpace","order":4,"width":0,"height":0,"format":"<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  Khách\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1150,"y":380,"wires":[[]]},{"id":"1c5c66c4f01e2b0f","type":"ui_template","z":"0102ef3a5e2d0b80","group":"52c17a7636c487aa","name":"Thông báo & Chuyển trang","order":5,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":2160,"y":480,"wires":[[]]},{"id":"6560bd6ab96dc342","type":"ui_button","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Gửi MQTT","group":"918d35a5629175cc","order":1,"width":3,"height":1,"passthru":false,"label":"Thoát","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":470,"y":420,"wires":[["4699c8f7941dc1c6"]]},{"id":"4699c8f7941dc1c6","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":670,"y":420,"wires":[["6b96afc1dfede635","973bd1739af084ce"]]},{"id":"e0c7b2322d2570b1","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":840,"y":500,"wires":[["973bd1739af084ce"]]},{"id":"6b96afc1dfede635","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":1010,"y":440,"wires":[["e0c7b2322d2570b1"]]},{"id":"973bd1739af084ce","type":"ui_template","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"6b2b732a6c91e261","name":"Thông báo & Chuyển trang","order":6,"width":6,"height":1,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":1080,"y":500,"wires":[[]]},{"id":"2219180904c2addc","type":"ui_button","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Gửi MQTT","group":"00b9b02b83b979d7","order":1,"width":3,"height":1,"passthru":false,"label":"Thoát","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":1490,"y":1160,"wires":[["b3a4cdf2b558ec81"]]},{"id":"b3a4cdf2b558ec81","type":"change","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":1690,"y":1160,"wires":[["b251841187244210","ed0e897d441cdb4f"]]},{"id":"43cefc94737d71d4","type":"change","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":1860,"y":1240,"wires":[["ed0e897d441cdb4f"]]},{"id":"b251841187244210","type":"delay","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":1930,"y":1180,"wires":[["43cefc94737d71d4"]]},{"id":"ed0e897d441cdb4f","type":"ui_template","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","group":"7382439799ec2cdd","name":"Thông báo & Chuyển trang","order":5,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":2160,"y":1220,"wires":[[]]},{"id":"d209fc5d0802cf26","type":"ui_template","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","group":"00b9b02b83b979d7","name":"Title MakerSpace","order":4,"width":0,"height":0,"format":"<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  Quản trị viên\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":2310,"y":1260,"wires":[[]]},{"id":"e5c0bad3a6aa56ee","type":"ui_button","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Gửi MQTT","group":"f019ca3911f49866","order":1,"width":3,"height":1,"passthru":false,"label":"Thoát","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":270,"y":1140,"wires":[["995de41e46bf53c0"]]},{"id":"995de41e46bf53c0","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":470,"y":1140,"wires":[["6ca3e69b7b5a173f","5565ae2028e861c1"]]},{"id":"a5eaa5cb3ac7c67b","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":640,"y":1220,"wires":[["5565ae2028e861c1"]]},{"id":"6ca3e69b7b5a173f","type":"delay","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":710,"y":1160,"wires":[["a5eaa5cb3ac7c67b"]]},{"id":"5565ae2028e861c1","type":"ui_template","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"f08cb50a5c0eb83d","name":"Thông báo & Chuyển trang","order":5,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Change-msg\" style=\"display:none;\">✅ Đang chuyển trang...</p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Change-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 2000);\n        } else {\n            document.getElementById('Change-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":940,"y":1200,"wires":[[]]},{"id":"b57e5efed243d62b","type":"ui_template","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"f019ca3911f49866","name":"Title MakerSpace","order":4,"width":0,"height":0,"format":"<div style=\"text-align: center; font-size: 24px; font-weight: bold; color: #007bff;\">\n  Sinh viên - Giảng viên\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1090,"y":1240,"wires":[[]]},{"id":"a06f42867b69e7e9","type":"inject","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Lặp mỗi giây","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":1640,"y":1300,"wires":[["b39dcb3838c260ba"]]},{"id":"b39dcb3838c260ba","type":"function","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","name":"Lấy giờ Việt Nam","func":"let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1300,"wires":[["6d82f1bce23c3f75"]]},{"id":"6d82f1bce23c3f75","type":"ui_text","z":"0102ef3a5e2d0b80","g":"a1f028b2667a401b","group":"00b9b02b83b979d7","order":3,"width":6,"height":1,"name":"Hiển thị thời gian","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":2030,"y":1300,"wires":[]},{"id":"e1d5dc5826d99e93","type":"inject","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lặp mỗi giây","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":380,"y":1280,"wires":[["722549bde1a36cd1"]]},{"id":"722549bde1a36cd1","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lấy giờ Việt Nam","func":"let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1280,"wires":[["525bc9540d11805f"]]},{"id":"525bc9540d11805f","type":"ui_text","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"f019ca3911f49866","order":3,"width":6,"height":1,"name":"Hiển thị thời gian","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":770,"y":1280,"wires":[]},{"id":"fa59e7eb9174807f","type":"inject","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lặp mỗi giây","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","x":240,"y":520,"wires":[["aa6e44bc878f39db"]]},{"id":"aa6e44bc878f39db","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lấy giờ Việt Nam","func":"let now = new Date();\n\n// Cộng thêm 7 tiếng để ra giờ Việt Nam\nnow.setHours(now.getHours() + 7);\n\nlet gio = now.getHours().toString().padStart(2, '0');\nlet phut = now.getMinutes().toString().padStart(2, '0');\nlet giay = now.getSeconds().toString().padStart(2, '0');\n\nlet ngay = now.getDate().toString().padStart(2, '0');\nlet thang = (now.getMonth() + 1).toString().padStart(2, '0');\nlet nam = now.getFullYear();\n\nmsg.payload = `🕒 ${gio}:${phut}:${giay} | 📅 ${ngay}/${thang}/${nam}`;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":520,"wires":[["3b8ecc04604307d1"]]},{"id":"3b8ecc04604307d1","type":"ui_text","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"918d35a5629175cc","order":3,"width":6,"height":1,"name":"Hiển thị thời gian","label":"","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":630,"y":520,"wires":[]},{"id":"0556f9b88f7484ae","type":"debug","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":800,"wires":[]},{"id":"906d108f2788d7c0","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"918d35a5629175cc","order":2,"width":3,"height":1,"passthru":false,"label":"Quay lại","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Dashboard MakerSpace\"}","payloadType":"json","topic":"","topicType":"str","x":1400,"y":200,"wires":[["ee2daf0403a325bc"]]},{"id":"97821d52b34a43c1","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"f019ca3911f49866","order":2,"width":3,"height":1,"passthru":false,"label":"Quay lại","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Dashboard MakerSpace\"}","payloadType":"json","topic":"","topicType":"str","x":1480,"y":240,"wires":[["ee2daf0403a325bc"]]},{"id":"bf26a824d4fe9a56","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"00b9b02b83b979d7","order":2,"width":3,"height":1,"passthru":false,"label":"Quay lại","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Dashboard MakerSpace\"}","payloadType":"json","topic":"","topicType":"str","x":1680,"y":60,"wires":[["ee2daf0403a325bc"]]},{"id":"260df5bc51bf776f","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"reset","func":"let input = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"device_num\", \"\");\n\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [[{ payload: input }]];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":200,"wires":[["af9c294633c437ed"]]},{"id":"d6c3edd5f9dd34af","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"reset","func":"let input = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"device_num\", \"\");\n\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [[{ payload: input }]];","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":440,"wires":[["fd14d5359f3dec0f"]]},{"id":"0153c7bc587a5a3a","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"948792d3da95d5c2","order":3,"width":4,"height":1},{"id":"1e8bea9d29dcf357","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"3b485d4287c492b1","order":3,"width":1,"height":1},{"id":"2b44a857cc4247f4","type":"ui_spacer","z":"0102ef3a5e2d0b80","name":"spacer","group":"bc890b17fb36f5ca","order":2,"width":3,"height":1},{"id":"52c17a7636c487aa","type":"ui_group","name":"Chọn đối tượng","tab":"3f91211b03dcce33","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6b2b732a6c91e261","type":"ui_group","name":"Điều khiển (1 đèn-1 giờ)","tab":"dc7efeb13a24ac97","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"37fcf5bfccf8b220","type":"mqtt-broker","name":"APP","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f08cb50a5c0eb83d","type":"ui_group","name":"Đăng nhập","tab":"e93f1d4d44c6aa68","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7382439799ec2cdd","type":"ui_group","name":"Đăng Nhập","tab":"bc7c54f842a16b86","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bc890b17fb36f5ca","type":"ui_group","name":"Vui lòng thoát sau khi sử dụng","tab":"3f91211b03dcce33","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"918d35a5629175cc","type":"ui_group","name":"Vui lòng thoát sau khi sử dụng","tab":"dc7efeb13a24ac97","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"00b9b02b83b979d7","type":"ui_group","name":"Vui lòng thoát sau khi sử dụng","tab":"bc7c54f842a16b86","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f019ca3911f49866","type":"ui_group","name":"Vui lòng thoát sau khi sử dụng","tab":"e93f1d4d44c6aa68","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3f91211b03dcce33","type":"ui_tab","name":"Dashboard MakerSpace","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"dc7efeb13a24ac97","type":"ui_tab","name":"Chưa đăng ký","icon":"face","order":2,"disabled":false,"hidden":false},{"id":"e93f1d4d44c6aa68","type":"ui_tab","name":"Đã đăng ký","icon":"account_circle","order":3},{"id":"bc7c54f842a16b86","type":"ui_tab","name":"Quản trị viên","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
