flows.json
[{"id":"0102ef3a5e2d0b80","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"e0cb796ea9427a1b","type":"group","z":"0102ef3a5e2d0b80","name":"Chưa đăng kí","style":{"fill":"#ffC000","label":true},"nodes":["ff39e877edcd3815","af9c294633c437ed","9064f46bd4f62e9d","8d27aca33dbccc42","4488a51ccf06b8ca","f17f983a3ce1e6cc","d7ace6fbbec79b9a","3d078241aa5cce96","c03a37cbb0646208","fd14d5359f3dec0f","7ff3c1136975f81c","96e71bd19ce85ee7","c7a6e3b24be64cde","bbbc7a06eaa6ad10","2066aa55970c8106","9af5c8297cba9a10","01076c13ed6e8ca7","2249df88f25c7837"],"x":94,"y":19,"w":1012,"h":462},{"id":"9451318c6d2f95b6","type":"group","z":"0102ef3a5e2d0b80","name":"SINH vien đã đăng kí","style":{"fill":"#ffff3f","label":true},"nodes":["a08f561428aa8ec3","b793917942f71af8","aff5ca46ba764d3e","6d79b3ec70810a12","d851f5cb7e1f7226","842541d803cb758b","mqtt_in_result","handle_login_result","notify_success","notify_fail","566cb83d63cb1aa2","9781a4bc3540d3cf","8244ca1478a3bf81","5d2b2ef1ac98b964","ec01bfb4aba30f8a","59f9e958373e0f97","e93d18b3449690a3","f1a1df28f6b1c2bd","1a9b56a5406f1d3a"],"x":254,"y":519,"w":1072,"h":582},{"id":"54975aa76729e19d","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"52c17a7636c487aa","order":1,"width":0,"height":0,"passthru":false,"label":"Sinh viên chưa đăng ký","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Chưa đăng ký\"}","payloadType":"json","topic":"","topicType":"str","x":1250,"y":80,"wires":[["ee2daf0403a325bc"]]},{"id":"ee2daf0403a325bc","type":"ui_ui_control","z":"0102ef3a5e2d0b80","name":"","events":"all","x":1480,"y":140,"wires":[[]]},{"id":"400520169372a455","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"52c17a7636c487aa","order":2,"width":0,"height":0,"passthru":false,"label":"Sinh viên đã đăng ký","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Đã đăng ký\"}","payloadType":"json","topic":"","topicType":"str","x":1260,"y":160,"wires":[["ee2daf0403a325bc"]]},{"id":"a08f561428aa8ec3","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"username","label":"Tài khoản","tooltip":"","group":"f08cb50a5c0eb83d","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"username","sendOnBlur":true,"className":"","topicType":"str","x":360,"y":560,"wires":[["6d79b3ec70810a12"]]},{"id":"b793917942f71af8","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"password","label":"Mật khẩu","tooltip":"","group":"f08cb50a5c0eb83d","order":2,"width":"6","height":"1","passthru":true,"mode":"password","delay":"0","topic":"password","sendOnBlur":true,"className":"","topicType":"str","x":360,"y":610,"wires":[["6d79b3ec70810a12"]]},{"id":"aff5ca46ba764d3e","type":"ui_button","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"login","group":"f08cb50a5c0eb83d","order":3,"width":"6","height":"1","passthru":false,"label":"Đăng nhập","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":360,"y":660,"wires":[["d851f5cb7e1f7226"]]},{"id":"6d79b3ec70810a12","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lưu user/pass","func":"flow.set(msg.topic, msg.payload);\nreturn null;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":590,"wires":[]},{"id":"d851f5cb7e1f7226","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Gửi MQTT user_login","func":"var username = flow.get(\"username\") || \"\";\nvar password = flow.get(\"password\") || \"\";\n\nreturn {\n    topic: \"user_login\",\n    payload: {\n        username: username,\n        password: password\n    }\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":660,"wires":[["842541d803cb758b"]]},{"id":"842541d803cb758b","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Đăng nhập MQTT","topic":"USER_LOGIN21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":820,"y":660,"wires":[]},{"id":"af9c294633c437ed","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Nhập số đèn","label":"         Số đèn (1–70)","tooltip":"Nhập đèn cần bật ( 1 giờ - 1 đèn)","group":"6b2b732a6c91e261","order":1,"width":6,"height":2,"passthru":true,"mode":"number","delay":0,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":190,"y":80,"wires":[["9064f46bd4f62e9d"]]},{"id":"9064f46bd4f62e9d","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":400,"y":80,"wires":[[]]},{"id":"8d27aca33dbccc42","type":"ui_button","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Gửi MQTT","group":"6b2b732a6c91e261","order":2,"width":6,"height":1,"passthru":false,"label":"Bật đèn","tooltip":"","color":"","bgcolor":"green","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":140,"wires":[["4488a51ccf06b8ca"]]},{"id":"4488a51ccf06b8ca","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Tạo JSON","func":"let device = flow.get(\"device_num\") || 1;\nlet hour = flow.get(\"hour_val\") || 1;\n\nmsg.payload = {\n    device: device,\n    Hour: hour\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["f17f983a3ce1e6cc","d7ace6fbbec79b9a","2249df88f25c7837"]]},{"id":"f17f983a3ce1e6cc","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"set","topic":"APP_ON21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":570,"y":140,"wires":[]},{"id":"d7ace6fbbec79b9a","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":630,"y":80,"wires":[["3d078241aa5cce96","9af5c8297cba9a10"]]},{"id":"3d078241aa5cce96","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":850,"y":60,"wires":[["c03a37cbb0646208"]]},{"id":"c03a37cbb0646208","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":910,"y":140,"wires":[["9af5c8297cba9a10"]]},{"id":"fd14d5359f3dec0f","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Nhập số đèn","label":"         Số đèn (1–70)","tooltip":"Nhập đèn cần tắt","group":"6b2b732a6c91e261","order":3,"width":6,"height":2,"passthru":true,"mode":"number","delay":0,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":190,"y":340,"wires":[["7ff3c1136975f81c"]]},{"id":"7ff3c1136975f81c","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":400,"y":340,"wires":[[]]},{"id":"96e71bd19ce85ee7","type":"ui_button","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Gửi MQTT","group":"6b2b732a6c91e261","order":4,"width":6,"height":1,"passthru":false,"label":"Tắt đèn","tooltip":"","color":"","bgcolor":"red","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":400,"wires":[["c7a6e3b24be64cde"]]},{"id":"c7a6e3b24be64cde","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Tạo JSON","func":"let device = flow.get(\"device_num\") || 1;\n\n\nmsg.payload = {\n    device: device,\n    trigger: true\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":400,"wires":[["bbbc7a06eaa6ad10","2066aa55970c8106","2249df88f25c7837"]]},{"id":"bbbc7a06eaa6ad10","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"OFF_GUEST","topic":"APP_OFF21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":600,"y":400,"wires":[]},{"id":"2066aa55970c8106","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":590,"y":300,"wires":[["9af5c8297cba9a10","01076c13ed6e8ca7"]]},{"id":"9af5c8297cba9a10","type":"ui_template","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"6b2b732a6c91e261","name":"Thông báo & Chuyển trang","order":5,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"success-msg\" style=\"display:none;\">✅ Chuyển trang sau 3s! </p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('success-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 3000);\n        } else {\n            document.getElementById('success-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":960,"y":220,"wires":[[]]},{"id":"01076c13ed6e8ca7","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":810,"y":360,"wires":[["ff39e877edcd3815"]]},{"id":"ff39e877edcd3815","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":770,"y":440,"wires":[["9af5c8297cba9a10"]]},{"id":"mqtt_in_result","type":"mqtt in","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"MQTT Nhận kết quả","topic":"LOGIN_RESULT21146282","qos":"0","datatype":"json","broker":"37fcf5bfccf8b220","nl":false,"rap":false,"inputs":0,"x":370,"y":840,"wires":[["handle_login_result","ec01bfb4aba30f8a"]]},{"id":"handle_login_result","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xử lý kết quả","func":"if (msg.payload.result === true) {\n    msg.payload = \"Đăng nhập thành công\";\n    \n    return [msg, null];\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":840,"wires":[["notify_success"],["notify_fail"]]},{"id":"notify_success","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":false,"className":"","topic":"","name":"Thông báo thành công","x":810,"y":760,"wires":[]},{"id":"notify_fail","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":false,"className":"","topic":"","name":"Thông báo thất bại","x":800,"y":880,"wires":[]},{"id":"2249df88f25c7837","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":false,"className":"","topic":"Điều khiển thành công","name":"Thông báo thành công","x":540,"y":240,"wires":[]},{"id":"566cb83d63cb1aa2","type":"delay","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":930,"y":980,"wires":[["8244ca1478a3bf81"]]},{"id":"9781a4bc3540d3cf","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":730,"y":960,"wires":[["566cb83d63cb1aa2","5d2b2ef1ac98b964"]]},{"id":"8244ca1478a3bf81","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":1050,"y":920,"wires":[["5d2b2ef1ac98b964"]]},{"id":"5d2b2ef1ac98b964","type":"ui_template","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"f08cb50a5c0eb83d","name":"Thông báo & Chuyển trang","order":5,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"Login-msg\" style=\"display:none;\">✅ Chuyển trang sau 3s! </p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('Login-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://render-node-red-uno2.onrender.com/ui/\";\n            }, 3000);\n        } else {\n            document.getElementById('Login-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":1180,"y":1000,"wires":[[]]},{"id":"ec01bfb4aba30f8a","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"function 1","func":"if (msg.payload.result === true) {\n    msg.payload = \"Tắt đèn thành công\";\n    return [msg, null];  // tiếp tục luồng xử lý (output 1)\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];  // kết thúc hoặc báo lỗi (output 2)\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":940,"wires":[["9781a4bc3540d3cf","59f9e958373e0f97","1a9b56a5406f1d3a"]]},{"id":"59f9e958373e0f97","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"reset","func":"let resetUsername = \"\"; // hoặc: { payload: \"\" }\nlet resetPassword = \"\"; // hoặc: { payload: \"\" }\n\n// Xóa khỏi flow context\nflow.set(\"username\", \"\");\nflow.set(\"password\", \"\");\n\n// Trả về 2 output: 1 -> MQTT, 2 -> reset UI\nreturn [ [{ payload: resetUsername }, { payload: resetPassword }]];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1000,"wires":[["b793917942f71af8","a08f561428aa8ec3"]]},{"id":"f1a1df28f6b1c2bd","type":"inject","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Tạo token","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":740,"y":1060,"wires":[["1a9b56a5406f1d3a"]]},{"id":"1a9b56a5406f1d3a","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Tạo token và link","func":"const token = Math.random().toString(36).substring(2, 12);\nconst msgOut = {\n    payload: JSON.stringify({ token: token })\n};\n\n// Gửi token này tới Node-RED Điều khiển\nmsgOut.topic = \"token/check\";\n\nreturn msgOut;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1060,"wires":[["e93d18b3449690a3"]]},{"id":"e93d18b3449690a3","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"MQTT Gửi token","topic":"token/check","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":1190,"y":1060,"wires":[]},{"id":"52c17a7636c487aa","type":"ui_group","name":"Chọn đối tượng","tab":"3f91211b03dcce33","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f08cb50a5c0eb83d","type":"ui_group","name":"Đăng nhập","tab":"e93f1d4d44c6aa68","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"37fcf5bfccf8b220","type":"mqtt-broker","name":"APP","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6b2b732a6c91e261","type":"ui_group","name":"Sinh viên chưa đăng kí","tab":"dc7efeb13a24ac97","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3f91211b03dcce33","type":"ui_tab","name":"Chọn loại người dùng","icon":"dashboard","order":1},{"id":"e93f1d4d44c6aa68","type":"ui_tab","name":"Đã đăng ký","icon":"account_circle","order":3},{"id":"dc7efeb13a24ac97","type":"ui_tab","name":"Chưa đăng ký","icon":"face","order":2,"disabled":false,"hidden":false}]
