flows.json
[{"id":"0102ef3a5e2d0b80","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"e0cb796ea9427a1b","type":"group","z":"0102ef3a5e2d0b80","name":"Chưa đăng kí","style":{"fill":"#ffC000","label":true},"nodes":["ff39e877edcd3815","af9c294633c437ed","9064f46bd4f62e9d","8d27aca33dbccc42","4488a51ccf06b8ca","f17f983a3ce1e6cc","d7ace6fbbec79b9a","3d078241aa5cce96","c03a37cbb0646208","fd14d5359f3dec0f","7ff3c1136975f81c","96e71bd19ce85ee7","c7a6e3b24be64cde","bbbc7a06eaa6ad10","2066aa55970c8106","9af5c8297cba9a10","01076c13ed6e8ca7"],"x":94,"y":-1,"w":1052,"h":482},{"id":"9451318c6d2f95b6","type":"group","z":"0102ef3a5e2d0b80","name":"SINH vien đã đăng kí","style":{"fill":"#ffff3f","label":true},"nodes":["a08f561428aa8ec3","b793917942f71af8","aff5ca46ba764d3e","6d79b3ec70810a12","d851f5cb7e1f7226","842541d803cb758b","6354f00243fe3f64","06d813666722ff85","1a7ec684b260f796","e8c22713c1971f82","79847008d90f5846","8e574079053a8031","520563d5edbed859","3cd4c9d8c744df7d","ef84f51d4cdbae62","d9d9154ef6590d02","mqtt_in_result","handle_login_result","bb9300136b864d80","notify_success","notify_fail","1403fca69f51fe76","e2927033b1bb645c","1d2bbf72e4d8d7f9","eb17d74e6522cb06","30b3a6e11c017e0a","cb913e7f1e3c98fe","a47160a437044d68"],"x":114,"y":519,"w":952,"h":882},{"id":"54975aa76729e19d","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"52c17a7636c487aa","order":1,"width":0,"height":0,"passthru":false,"label":"Sinh viên chưa đăng ký","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Chưa đăng ký\"}","payloadType":"json","topic":"","topicType":"str","x":1710,"y":50,"wires":[["ee2daf0403a325bc"]]},{"id":"ee2daf0403a325bc","type":"ui_ui_control","z":"0102ef3a5e2d0b80","name":"","events":"all","x":1960,"y":70,"wires":[[]]},{"id":"400520169372a455","type":"ui_button","z":"0102ef3a5e2d0b80","name":"","group":"52c17a7636c487aa","order":2,"width":0,"height":0,"passthru":false,"label":"Sinh viên đã đăng ký","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"tab\":\"Đã đăng ký\"}","payloadType":"json","topic":"","topicType":"str","x":1680,"y":120,"wires":[["ee2daf0403a325bc"]]},{"id":"a08f561428aa8ec3","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"username","label":"Tài khoản","tooltip":"","group":"f08cb50a5c0eb83d","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"username","sendOnBlur":true,"className":"","topicType":"str","x":360,"y":560,"wires":[["6d79b3ec70810a12"]]},{"id":"b793917942f71af8","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"password","label":"Mật khẩu","tooltip":"","group":"f08cb50a5c0eb83d","order":2,"width":"6","height":"1","passthru":true,"mode":"password","delay":"0","topic":"password","sendOnBlur":true,"className":"","topicType":"str","x":360,"y":610,"wires":[["6d79b3ec70810a12"]]},{"id":"aff5ca46ba764d3e","type":"ui_button","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"login","group":"f08cb50a5c0eb83d","order":3,"width":"6","height":"1","passthru":false,"label":"Đăng nhập","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":360,"y":660,"wires":[["d851f5cb7e1f7226"]]},{"id":"6d79b3ec70810a12","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lưu user/pass","func":"flow.set(msg.topic, msg.payload);\nreturn null;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":590,"wires":[]},{"id":"d851f5cb7e1f7226","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Gửi MQTT user_login","func":"var username = flow.get(\"username\") || \"\";\nvar password = flow.get(\"password\") || \"\";\n\nreturn {\n    topic: \"user_login\",\n    payload: {\n        username: username,\n        password: password\n    }\n};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":660,"wires":[["842541d803cb758b"]]},{"id":"842541d803cb758b","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Đăng nhập MQTT","topic":"USER_LOGIN21146282","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":820,"y":660,"wires":[]},{"id":"af9c294633c437ed","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Nhập số đèn","label":"         Số đèn (1–70)","tooltip":"Nhập đèn cần bật ( 1 giờ - 1 đèn)","group":"6b2b732a6c91e261","order":1,"width":6,"height":2,"passthru":true,"mode":"number","delay":0,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":190,"y":80,"wires":[["9064f46bd4f62e9d"]]},{"id":"9064f46bd4f62e9d","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":400,"y":80,"wires":[[]]},{"id":"8d27aca33dbccc42","type":"ui_button","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Gửi MQTT","group":"6b2b732a6c91e261","order":2,"width":6,"height":1,"passthru":false,"label":"Bật đèn","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":140,"wires":[["4488a51ccf06b8ca"]]},{"id":"4488a51ccf06b8ca","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Tạo JSON","func":"let device = flow.get(\"device_num\") || 1;\nlet hour = flow.get(\"hour_val\") || 1;\n\nmsg.payload = {\n    device: device,\n    Hour: hour\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":140,"wires":[["f17f983a3ce1e6cc","d7ace6fbbec79b9a"]]},{"id":"f17f983a3ce1e6cc","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"set","topic":"APP_ON21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":570,"y":140,"wires":[]},{"id":"d7ace6fbbec79b9a","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":590,"y":40,"wires":[["3d078241aa5cce96","9af5c8297cba9a10"]]},{"id":"3d078241aa5cce96","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":810,"y":100,"wires":[["c03a37cbb0646208"]]},{"id":"c03a37cbb0646208","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":750,"y":180,"wires":[["9af5c8297cba9a10"]]},{"id":"fd14d5359f3dec0f","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Nhập số đèn","label":"         Số đèn (1–70)","tooltip":"Nhập đèn cần tắt","group":"6b2b732a6c91e261","order":3,"width":6,"height":2,"passthru":true,"mode":"number","delay":0,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":190,"y":340,"wires":[["7ff3c1136975f81c"]]},{"id":"7ff3c1136975f81c","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":400,"y":340,"wires":[[]]},{"id":"96e71bd19ce85ee7","type":"ui_button","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Gửi MQTT","group":"6b2b732a6c91e261","order":4,"width":6,"height":1,"passthru":false,"label":"Tắt đèn","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":200,"y":400,"wires":[["c7a6e3b24be64cde"]]},{"id":"c7a6e3b24be64cde","type":"function","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Tạo JSON","func":"let device = flow.get(\"device_num\") || 1;\n\n\nmsg.payload = {\n    device: device,\n    trigger: true\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":400,"wires":[["bbbc7a06eaa6ad10","2066aa55970c8106"]]},{"id":"bbbc7a06eaa6ad10","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"OFF_GUEST","topic":"APP_OFF21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":600,"y":400,"wires":[]},{"id":"2066aa55970c8106","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":590,"y":300,"wires":[["9af5c8297cba9a10","01076c13ed6e8ca7"]]},{"id":"9af5c8297cba9a10","type":"ui_template","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","group":"6b2b732a6c91e261","name":"Thông báo & Chuyển trang","order":5,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"success-msg\" style=\"display:none;\">✅ Điều khiển Thành công! </p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('success-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 3000);\n        } else {\n            document.getElementById('success-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":1000,"y":260,"wires":[[]]},{"id":"01076c13ed6e8ca7","type":"delay","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":810,"y":360,"wires":[["ff39e877edcd3815"]]},{"id":"ff39e877edcd3815","type":"change","z":"0102ef3a5e2d0b80","g":"e0cb796ea9427a1b","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":770,"y":440,"wires":[["9af5c8297cba9a10"]]},{"id":"6354f00243fe3f64","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Nhập số đèn","label":"         Số đèn (1–70)","tooltip":"Nhập đèn cần bật ( Không giới hạn) ","group":"93edafcffefe90db","order":1,"width":6,"height":2,"passthru":true,"mode":"number","delay":0,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":210,"y":760,"wires":[["06d813666722ff85"]]},{"id":"06d813666722ff85","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":420,"y":760,"wires":[[]]},{"id":"1a7ec684b260f796","type":"ui_button","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Gửi MQTT","group":"93edafcffefe90db","order":2,"width":6,"height":1,"passthru":false,"label":"Bật đèn","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":220,"y":820,"wires":[["e8c22713c1971f82"]]},{"id":"e8c22713c1971f82","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Tạo JSON","func":"let device = flow.get(\"device_num\") || 1;\nlet hour = flow.get(\"hour_val\") || 1;\n\nmsg.payload = {\n    device: device,\n    Hour: hour\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":820,"wires":[["79847008d90f5846","a47160a437044d68"]]},{"id":"79847008d90f5846","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"set","topic":"SV_ON21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":590,"y":820,"wires":[]},{"id":"8e574079053a8031","type":"ui_text_input","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Nhập số đèn","label":"         Số đèn (1–70)","tooltip":"Nhập đèn cần tắt","group":"93edafcffefe90db","order":3,"width":6,"height":2,"passthru":true,"mode":"number","delay":0,"topic":"","sendOnBlur":true,"className":"","topicType":"str","x":210,"y":1020,"wires":[["520563d5edbed859"]]},{"id":"520563d5edbed859","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Lưu vào flow","rules":[{"t":"set","p":"device_num","pt":"flow","to":"payload","tot":"msg"}],"x":420,"y":1020,"wires":[[]]},{"id":"3cd4c9d8c744df7d","type":"ui_button","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Gửi MQTT","group":"93edafcffefe90db","order":4,"width":6,"height":1,"passthru":false,"label":"Tắt đèn","tooltip":"","color":"","bgcolor":"","className":"","icon":"send","payload":"","payloadType":"str","topic":"","topicType":"str","x":220,"y":1080,"wires":[["ef84f51d4cdbae62"]]},{"id":"ef84f51d4cdbae62","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Tạo JSON","func":"let device = flow.get(\"device_num\") || 1;\n\n\nmsg.payload = {\n    device: device,\n    trigger: true\n};\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1080,"wires":[["d9d9154ef6590d02","1d2bbf72e4d8d7f9"]]},{"id":"d9d9154ef6590d02","type":"mqtt out","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"OFF_GUEST","topic":"SV_OFF21146282","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"37fcf5bfccf8b220","x":620,"y":1080,"wires":[]},{"id":"mqtt_in_result","type":"mqtt in","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"MQTT Nhận kết quả","topic":"LOGIN_RESULT21146282","qos":"0","datatype":"json","broker":"37fcf5bfccf8b220","nl":false,"rap":false,"inputs":0,"x":320,"y":1320,"wires":[["handle_login_result"]]},{"id":"handle_login_result","type":"function","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xử lý kết quả","func":"if (msg.payload.result === true) {\n    msg.payload = \"Đăng nhập thành công\";\n    msg.tab = \"Sinh vien\";\n    return [msg, null];\n} else {\n    msg.payload = \"Sai tài khoản hoặc mật khẩu!\";\n    return [null, msg];\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1320,"wires":[["notify_success","bb9300136b864d80"],["notify_fail"]]},{"id":"bb9300136b864d80","type":"ui_ui_control","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"","events":"all","x":740,"y":1300,"wires":[[]]},{"id":"notify_success","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":false,"className":"","topic":"","name":"Thông báo thành công","x":780,"y":1240,"wires":[]},{"id":"notify_fail","type":"ui_toast","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"","cancel":"","raw":false,"className":"","topic":"","name":"Thông báo thất bại","x":770,"y":1360,"wires":[]},{"id":"1403fca69f51fe76","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":790,"y":1120,"wires":[["eb17d74e6522cb06"]]},{"id":"e2927033b1bb645c","type":"delay","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":830,"y":1040,"wires":[["1403fca69f51fe76"]]},{"id":"1d2bbf72e4d8d7f9","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":610,"y":980,"wires":[["e2927033b1bb645c","eb17d74e6522cb06"]]},{"id":"eb17d74e6522cb06","type":"ui_template","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","group":"93edafcffefe90db","name":"Thông báo & Chuyển trang","order":5,"width":0,"height":0,"format":"<div style=\"text-align:center; font-size:20px; color:green;\">\n    <p id=\"success-msg\" style=\"display:none;\">✅ Điều khiển Thành công! (5s chuyển trang) </p>\n</div>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        if (payload === 'redirect') {\n            document.getElementById('success-msg').style.display = 'block';\n            setTimeout(() => {\n                window.location.href = \"https://cisat.hcmute.edu.vn/\";\n            }, 5000);\n        } else {\n            document.getElementById('success-msg').style.display = 'none';\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":920,"y":920,"wires":[[]]},{"id":"30b3a6e11c017e0a","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Xóa redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"idle","tot":"str"}],"x":770,"y":860,"wires":[["eb17d74e6522cb06"]]},{"id":"cb913e7f1e3c98fe","type":"delay","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Delay xóa redirect","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"","randomLast":"","randomUnits":"seconds","allowrate":false,"outputs":1,"x":830,"y":760,"wires":[["30b3a6e11c017e0a"]]},{"id":"a47160a437044d68","type":"change","z":"0102ef3a5e2d0b80","g":"9451318c6d2f95b6","name":"Set redirect","rules":[{"t":"set","p":"payload","pt":"msg","to":"redirect","tot":"str"}],"x":610,"y":760,"wires":[["cb913e7f1e3c98fe","eb17d74e6522cb06"]]},{"id":"52c17a7636c487aa","type":"ui_group","name":"Chọn đối tượng","tab":"3f91211b03dcce33","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f08cb50a5c0eb83d","type":"ui_group","name":"Đăng nhập","tab":"e93f1d4d44c6aa68","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"37fcf5bfccf8b220","type":"mqtt-broker","name":"APP","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6b2b732a6c91e261","type":"ui_group","name":"Sinh viên chưa đăng kí","tab":"dc7efeb13a24ac97","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"93edafcffefe90db","type":"ui_group","name":"Group 1","tab":"d25d2c98582fbfb6","order":1,"disp":true,"width":6},{"id":"3f91211b03dcce33","type":"ui_tab","name":"Chọn loại người dùng","icon":"dashboard","order":1},{"id":"e93f1d4d44c6aa68","type":"ui_tab","name":"Đã đăng ký","icon":"account_circle","order":3},{"id":"dc7efeb13a24ac97","type":"ui_tab","name":"Chưa đăng ký","icon":"face","order":2,"disabled":false,"hidden":false},{"id":"d25d2c98582fbfb6","type":"ui_tab","name":"Sinh vien","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
